@import url('https://fonts.googleapis.com/css2?family=Kufam:ital@1&family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
}
body
{
    background: #0b263b;
    min-height: 1500px;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    list-style: none;
    margin-left: 20px;
    z-index: 100000;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
}
header ul li a:hover
{
    background: #ffffff;
    color: #0b263b;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0c273c, transparent);
    z-index: 10000;
}
section::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c273c;
    z-index: 10000;
    mix-blend-mode: color;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#text
{
    padding: 10%;
    padding-left: 5%;
    padding-top: 5%;
    position: relative;
    color: #ffffff;
    font-size: 4em;
    z-index: 1;
}
#mountain
{
    z-index: 2;
}
.aboutme
{
    position: relative;
    padding: 100px;
    background: #0b263b;
}
.aboutme h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #ffffff;
}
.aboutme p
{
    color: #ffffff;
    font-size: 1em;
}