@import url('https://fonts.googleapis.com/css2?family=Kufam:ital@1&family=Press+Start+2P&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    scroll-behavior: smooth;
}
body
{
    background: #0b263b;
    min-height: 2500px;
    width: 100%;
    overflow-x: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li 
{
    list-style: none;
    margin-left: 20px;
    z-index: 100000;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
}
header ul li a:hover
{
    background: #ffffff;
    color: #0b263b;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0c273c, transparent);
    z-index: 10000;
}
section::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c273c;
    z-index: 10000;
    mix-blend-mode: color;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#text
{
    padding: 10%;
    padding-left: 5%;
    padding-top: 5%;
    position: relative;
    color: #ffffff;
    font-size: 4em;
    z-index: 1;
}
#mountain
{
    z-index: 2;
}
.aboutme
{
    position: relative;
    padding: 100px;
    left: 20px;
    background: #0b263b;
    top: 20px;
    
}
.aboutme h2
{
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: underline;
}
.aboutme p
{
    color: #ffffff;
    font-size: 1em;
}
.portfolio
{
    padding-top: 50px;
    position: relative;
    width: 100%;
    vertical-align: middle;
}
.portfolio h2
{
    font-size: 3.5em;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: #ffffff;
    text-decoration: underline;
    position: sticky;
    top: 0;
    background: #0b263b;
    z-index: 1;
}
.portfolio p
{
    margin-top: 20px;
    color: #ffffff;
    font-size: 1em;
}
#pfp
{ 
    position: relative;
    top: 80px;
    width: 13%;
    height: auto;
    border-radius: 65%;
    border: 1px solid white;
    z-index: 10000000;
    float: left;
    left: 10px;
}
#escape_room
{
    position: relative;
    top: 0;
    left: 10px;
    height: auto;
    width: 37.5%;
    float: left;
    margin-right: 20px;
    border-radius: 65%;
}
.escape_room_header
{
    color: #ffffff;
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
.portfolio ul
{
    margin-top: 30px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio ul li 
{
    list-style: none;
    z-index: 100000;
    color: #ffffff;
}
.portfolio ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: #ffffff;
}
.portfolio ul li a:hover
{
    background: #ffffff;
    color: #0b263b;
}